@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  * {
    font-family: poppins;
  }

.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  }

@media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  }

/* styled */
.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
  }

.nav-text{
    @apply text-lg text-primary-blue font-medium
}

.navbar {
  @apply flex-between mb-4 mt-3 py-2 md:max-w-7xl md:w-full px-5 fixed w-full bg-transparent rounded-3xl transition-all
}

.navbar-bg {
  @apply bg-white shadow-2xl transition-all
}
.blue-btn {
    @apply rounded-full border border-primary-blue bg-primary-blue py-3 px-7 text-white transition-all hover:bg-white hover:text-primary-blue text-center text-lg font-inter items-center justify-center;
  }

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-primary-blue min-w-[210px] flex flex-col gap-2 justify-end items-end;
  }
  
.dropdown_link {
    @apply text-sm font-inter text-white font-medium py-2;
  }

.flex-between {
    @apply flex justify-between items-center;
  }

.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-lg text-primary-blue tracking-wide;
  }

.flex-center {
    @apply justify-center items-center;
  }

.line {
    @apply w-full h-1 bg-primary-blue rounded-xl mt-1 scale-0 origin-bottom transition-all
}

.itemjadwal {
  @apply border rounded-full border-white bg-transparent py-1.5 text-white transition-all hover:bg-white hover:text-primary-blue text-center text-lg
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head-text-footer {
  @apply font-semibold text-xl 
}

.line-text-footer {
  @apply h-0.5 w-32 bg-white rounded-full mb-6
}

.input-footer {
  @apply bg-transparent border-b-2 mb-6 px-3 py-1 focus:outline-none placeholder:text-gray-300 placeholder:text-lg
}

.btn-hero {
  @apply md:px-12 md:py-4 bg-primary-blue text-white rounded-full mt-10 hover:bg-transparent border border-primary-blue hover:text-primary-blue transition-all px-6 py-2 w-64 mx-auto
}

.line-hero {
  @apply h-0.5 md:w-96 md:flex bg-primary-blue mx-auto my-5 w-44
}

.circle {
  @apply w-52 h-52 bg-sky-200 rounded-full absolute -bottom-96 left-3/4 -z-10 hidden lg:flex 
}

.txt-skema{
  @apply font-medium lg:text-xl text-secondary-gray text-base px-6
}

.txt-blue {
  @apply text-primary-blue text-xl md:text-3xl font-semibold pb-4 px-6
}


.container-pencapaian{
  @apply md:w-9/12 bg-primary-blue mx-auto w-6/12 grid lg:grid-cols-4 rounded-3xl grid-cols-1 text-center md:grid-cols-2 shadow-2xl mb-8 
}

.circle-pencapaian{
  @apply w-48 h-48 bg-secondary-blue border-8 rounded-full m-auto my-5 border-cirlce-border
}

/* .container-anggota {
  @apply bg-tertiary-bg-blue
} */

.card-asesor {
  @apply w-300 h-400 bg-white shadow-2xl rounded-3xl mb-8
}